PORT=3001
LOG_LEVEL=info
CORS_ORIGIN=http://localhost:3000

ARBITRUM_ONE_RPC_URL=https://arb1.arbitrum.io/rpc
ARBITRUM_SEPOLIA_RPC_URL=https://sepolia-rollup.arbitrum.io/rpc

SANDBOX_TIMEOUT_MS=90000
SANDBOX_MEMORY_MB=128
RUN_RATE_LIMIT_PER_MIN=20
